header {
    top: 0px;
    color: white;
    text-align: right;

}
body {
 background-image: url("bandwpeony.jpg");
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: 1280px 1400px;
}
h1{
	text-align: center;
	color: pink;
	font-size: 50px;
}
a{
	color: white;
}
footer{
	position: fixed;
	bottom: 0px;
	color: white;
	text-align: center;
}
p{
	color: white;
	font-size: 20px;

}
li{
	color: gray;
}